body{
    font-family: poppins !important;
}
.landing{
    text-align: center;
    background-image: url(/assets/backgrounds/h_img.jpg);
    padding-top: 300px;
    color: white;
}
.mouse-icon{
    padding-top: 280px;
    padding-bottom: 20px;

}
@media screen and (max-width: 680px) {
    .landing{
        padding-top: 110px;
        color: white;

    }
    .mouse-icon{
        padding-top: 100px;
    }
}
.aboutus{
    text-align: center;
    padding: 50px;
}
.services{
    text-align: center;
    padding: 100px 0px 100px 0px;
    color: white;
    background-image: url(/assets/backgrounds/s_image.jpg);
}
.wyd{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
#info1{
    display: none;
}
#info2{
    display: none;
}
#info3{
    display: none;
}
